/*Set colors for h1 and h2 elements*/
h1 {
  color: navy;
}

h2 {
  color: black;
}

.notice {
  color: red;
}

/*Bolds all text in main element*/
main {
  font-weight: bold;
}

/* Top Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*border-right: 1px solid #bbb;*/ /*(This adds little dividers)*/
}

li a:hover {
  background-color: #9a9aa8;
}

.hide {
  display: none;
}

/* -------------------------------------- */
/* Button Class */
.button {
  background-color: navy;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Smaller button option*/
.smallButton {
  background-color: navy;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Medium Sized Button */
.mediumButton {
  background-color: darkred;
  border: none;
  color: white;
  padding: 5px 15px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Login Screen Class */
.login {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  /*background-color: rgb(68, 177, 250);*/
  border: 10px solid navy;
  padding: 10px;
  text-align: center;
}
/* Centering Information class*/
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.centerQuestion {
  margin: auto;
  width: 100%; 
  padding: 10px;
  text-align: center;
}

.questionCenter {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

/* Table class */
table, th, td {
  position: auto;
  margin-right: 10px;
  border: 1px solid black; 
  border-collapse: collapse;
}
th {
  background-color: navy;
  color: white;
}
tr:hover {
  background-color: #9a9aa8;
}

#questionTemplate {
  /* padding-left: 0%; */
  display: none;
} 