<main>
<div>
    <p>
        <a href="/survey"><button class="smallButton" type="button">&lt;Back to Surveys</button></a>
    </p>
    <p>
        User: <%= user %> Survey: <%=survey %>
    </p>
    <div>
        <form method="POST" action="/vote" id="question-form"></form>
            <div>
                <%dbquestions.forEach(function (question, index) { 
                    numQ = ++index;%>
                    <div>
                        <h2>
                            <%= numQ%>. <%= question.prompt %>
                        </h2>
                        <%if(question.question_type == "TF") {%>
                            <p>
                                <label><input type="radio" name="optradio<%= index%>" value="True">True</label>
                            </p>
                            <p>
                                <label><input type="radio" name="optradio<%= index%>" value="False">False</label>
                            </p>
                            <input type="hidden" name="user" value="<%=user%>">
                            <input type="hidden" name="question" value="<%=question.question_id%>">
                            <input type="hidden" name="survey" value="<%=survey%>">
                        <%} else if (question.question_type == "L4") {%>
                            <p>
                                <label><input type="radio" name="optradio<%= index%>" value="Strongly Disagree">Strongly Disagree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Disagree">Disagree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Agree">Agree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Strongly Agree">Strongly Agree</label>
                            </p>
                            <input type="hidden" name="user" value="<%=user%>">
                            <input type="hidden" name="question" value="<%=question.question_id%>">
                            <input type="hidden" name="survey" value="<%=survey%>">
                        <%} else if (question.question_type == "L5") {%>
                            <p>
                                <label><input type="radio" name="optradio<%= index%>" value="Strongly Disagree">Strongly Disagree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Disagree">Disagree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Neutral">Neutral</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Agree">Agree</label>
                                <label><input type="radio" name="optradio<%= index%>" value="Strongl Agree">Strongly Agree</label>
                            </p>
                            <input type="hidden" name="user" value="<%=user%>">
                            <input type="hidden" name="question" value="<%=question.question_id%>">
                            <input type="hidden" name="survey" value="<%=survey%>">
                        <%}%>
                    </div>
                <%})%>
            </div>
            <button type="submit">Submit</button>    
        </form>
    </div>
</div>
</main>