<!-- Approach is to have a hidden template that we can keep using for questions which will be added into a list along with each questions answers -->
<!-- In short, a massive tree with questions and one with answers pointing -->

<nav class="topnav">
	<ul>
		<li>
			<a href="/generate">Create Survey</a>
		</li>
		<li>
			<a href="/survey">Surveys</a>
		</li>
		<li>
			<a href="/response">Responses</a>
		</li>
        <li>
			<a href="/question">Questions</a>
		</li>
		<li style=float:right>
			<a class="active" href="/logout">Logout</a>
		</li>
		</li>
	</ul>
</nav>
<main class="center">
	<p><h2 class="notice">Notice: This page is still under development and does not actually create a survey.</h2></p>
	<p>Use this page to see functionality of adding multiple questions that is planned for future versions.</p>
	<p>For now, to create a new survey with limited question options, please navigate to the "Surveys" page.</p>
	<p><h1 class="title">Moondawgs' Survey Generator</h1></p>
	<form id="myform" action="/survey" method="get">
		<p>
		<label>Survey Title
			<input name="survey_title" id="survey_title" type="text" required placeholder="Untitled Survey">
		</label>
		</p>
		<p>
		<label>Author ID
			<input name="author_id" id="author_id" type="number" required min="1" placeholder="1">
		</label>
		</p>
		<p>
		<label>Date Created
			<input name="date" id="date" type="date">
		</label>
		</p>
		<p>
		<label for="survey-purpose">What is the purpose of your survey?
			<input name="purpose" id="purpose" type="text">
		</label>
		</p>
		<input type="button" class="button" value="Create Survey" onclick="createSurvey()"/>
	</form>	
  <hr/>

	<!-- Main Portion Begins Here-->
	<!-- Ordered List where questions will be added -->
	<ol id="listOfQuestions" class="questionCenter">

	</ol>
	<ol>
		<li id="questionTemplate">
			<form id="answerForm">
				<input placeholder="Enter Question">
				<label for="optionType">Type of Question:</label>
				<select id="optionType" name="optionType">
					<option value="Multiple Choice">Multiple Choice</option>
					<option value="Likert">Likert</option>
					<option value="Short Answer">Short Answer</option>
				</select>
				<input type="button" class="mediumButton" value="Remove Question" onclick="removeQuestion(this)" />
			</form>
			<!-- Answer List-->
			<ol id="listOfAnswers" type="A">

			</ol>
			<div class="center">
				<input type="button" class="smallButton" value="Add Answer" onclick="addAnswer(this)" />
				<input type="button" class="smallButton" value="Remove Answer" onclick="removeAnswer(this)" />
			</div>
			<hr>
		</li>
		<br>
	</ol>

	<div class="center">
		<input id="addQuestionButton" type="button" class="button" style="display: none;" value="Add Question" onclick="addQuestion()" />
	</div>

	<div class="center">
		<input id="submitButton" type="button" class="button" style="display: none;" value="Submit Survey" onclick="submitSurvey(); alert('Your survey would have now been submitted.');" />
	</div>

	<!-- Struggling to link my script file to this ejs page -->
	<!-- <script type="text" src="js/script.js"></script> -->

	<script language="javascript">
		// This whole form is basically structured like a big tree
		var numOfQuestions = 0;
		var numOfSurveys = 3;
		var jlist;

		function createSurvey() {
			var survey_title = document.getElementById("survey_title").cloneNode(true);
			var author_id = document.getElementById("author_id").cloneNode(true);
			var date = document.getElementById("date").cloneNode(true);
			var purpose = document.getElementById("purpose").cloneNode(true);

			jlist = JSON.parse('{ "surveys" : [' +
				'{ "surveyTitle":"' + survey_title +
				'", "authorID":"' + author_id +
				'", "dateCreated":"' + date +
				'", "purpose":"' + purpose +
				'", "questions": [] }' +
				'] }');

			//unhide the addQuestion button 
			document.getElementById("addQuestionButton").style.display = "inline";
			//unhide submit button
			document.getElementById("submitButton").style.display = "inline";
		}

		function addQuestion() {
			var new_question = document.getElementById("questionTemplate").cloneNode(true);
			new_question.style.visibilty = "visible";
			new_question.id = "question" + (numOfQuestions);
			var childNode = new_question.children;

			for (var i = 0; i < childNode.length; i++) {
				if (childNode[i].id === "listOfAnswers") {
					childNode[i].id = ("listOfAnswers" + numOfQuestions);
				}
			}
			numOfQuestions++;
			document.getElementById("listOfQuestions").appendChild(new_question);
		}

		function removeQuestion(selected_question) {
			var question = selected_question.parentNode.parentNode;
			document.getElementById("listOfQuestions").removeChild(question);
		}

		function addAnswer(choice) {
			var value;
			var newValue;
			var input;
			var nthNode = choice.parentNode.parentNode.children;
			var qType;

			for (var i = 0; i < nthNode.length; i++) {
				if (nthNode[i].id === "answerForm") {
					for (var j = 0; j < nthNode[i].length; j++) {
						if (nthNode[i].children[j].id === "optionType") {
							var chosenNode = nthNode[i].children[j];
							var nodeIndex = chosenNode.selectedIndex
							qType = chosenNode.options[nodeIndex].value;
						}
					}
				}
			}

			for (var i = 0; i < nthNode.length; i++) {
				if (nthNode[i].id.startsWith("listOfAnswers"))
					value = document.getElementById(nthNode[i].id);
			}

			// Conditions to create the appropriate question types
			if (qType === "Multiple Choice") {
				newValue = document.createElement("li");
				newValue.style = "float: inherit;" // Keeps format nice
				input = document.createElement("input");
				input.placeholder = input.id = "Enter Answer";
				newValue.appendChild(input);
			}
			else if (qType === "Likert") {
				var scale = 5;
				newValue = document.createElement("ul");
				newValue.class = "likert";

				// Create list of the likert scale for the question
				for (var i = 0; i < scale; i++) {
					var val = document.createElement("li");
					val.class = "likert";
					//textInput = document.createElement("input");
					input = document.createElement("input");
					var textArea = document.createElement("a");

					if (i == 0) {
						textArea.innerText = "Strongly Agree";
					}
					else if (i == 1) {
						textArea.innerText = "Somewhat Agree";
					}
					else if (i == 2) {
						textArea.innerText = "Neutral"
					}
					else if (i == 3) {
						textArea.innerText = "Somewhat Disagree"
					}
					else if (i == 4) {
						textArea.innerText = "Strongly Disagree";
					}
					input.type = "radio";
					input.name = "Likert";
					input.value = i + 1;
					val.appendChild(textArea);

					newValue.appendChild(val);
				}
			}
			else if (qType === "Short Answer") {
				var textField = document.createElement("textarea");
				newValue = document.createElement("li");
				newValue.style = "float: inherit;"
				textField.placeholder = "Enter Response";
				newValue.appendChild(textField);
			}
			value.appendChild(newValue);
		}

		function removeAnswer(choice) {
			var selected_node = choice.parentNode.parentNode.children;
			var newLine;

			for (var i = 0; i < selected_node.length; i++) {
				if (selected_node[i].id.startsWith("listOfAnswers")) {
					newLine = document.getElementById(selected_node[i].id);
				}
			}
			newLine.removeChild(newLine.lastChild);
		}

		function submitSurvey() {
			//figure out how many questions there are
			var numberOfQuestions = document.getElementById("listOfQuestions").length;

			for (var i = 0; i < numberOfQuestions; i++) {
				let question = document.getElementById("listOfQuestions").children[i].children[0];
				var questionTitle = question.children[0].value;
				var questionType = question.getElementsByTagName("select")[0].value;
				var answers;

				jlist.surveys[0].questions[i] = JSON.parse('{' +
					' "questionTitle": "' + questionTitle + '" ,' +
					' "questionType": "' + questionType + '" ,' +
					' "questionAnswers": [""]' +
					'}');

				if (questionType == "Multiple Choice") {
					var list = document.getElementById("listOfQuestions").children[i].children[2];
					var choices = list.getElementsByTagName("li");
					answers = new Array(choices.length);

					for (var j = 0; j < choices.length; j++) {
						answers[j] = items[j].children[0].value;
					}
				}
				else if (questionType == "Likert") {
					var list = document.getElementById("listOfQuestions").children[i].children[2];
					var choices = list.getElementsByTagName("li");
					answers = new Array(choices.length);

					for (var j = 0; j < choices.length; j++) {
						answers[j] = items[j].children[0].value;
					}
				}
				else if (questionType == "Short Answer") {
					var list = document.getElementById("listOfQuestions").children[i].children[2];
					var choices = list.getElementsByTagName("li");

					choices.length > 0 ? answers = choices[0].children[0].value : answers = "";
				}
				jlist.surveys[0].questions[i].questionAnswers = answers;
			}

			// fs.writeFile('/Desktop/test.json', jlist, err => {
			// 	if (err) {
			// 		console.error(err)
			// 		return
			// 	}
			// 	//file written successfully
			// })

			// JSON elements
			console.log(jlist);


		}

	</script>
	<!-- <script type="text/" src="/js/script.js"></script> -->
</hr>
</main>
