<main class="center">
  <h1>Please Log In</h1>
  <h2>There is so much survey fun waiting for you!</h2>
  <p>
    <button class="button" onclick="location.href='/login'">Log in</button>
  </p>
</main>
