<main class="login">
  <h1>Login to Moondawgs' Survey Generator</h1>
  User: <%= user %> <% if(loggedin) {%>
  <p>
    <a href="/survey"><button class="smallButton" type="button">Go to Surveys</button></a>
  </p>
  <%}%> <% if(locals.errors) {%>
  <div>
    <ul>
      <% errors.forEach(function (error) {%>
      <li><%= error.msg %></li>
      <%})%>
    </ul>
  </div>
  <%} else if(locals.successMessage) {%>
  <div class="alert alert-success"><%= successMessage %></div>
  <%}%>

  <form id="myform" action="/login" method="post">
    <p>
      <label
        >Email
        <input name="email" id="email" type="email" required placeholder="email@surveys.com" />
      </label>
    </p>
    <p>
      <label
        >Password
        <input
          name="password"
          id="password"
          type="password"
          minlength="8"
          required
          placeholder="Enter Password"
        />
      </label>
    </p>
    <button class="button" type="submit">Login</button>
  </form>
</main>
