<nav class="topnav">
	<ul>
		<li>
			<a href="/generate">Create Survey</a>
		</li>
		<li>
			<a href="/survey">Surveys</a>
		</li>
		<li>
			<a href="/response">Responses</a>
		</li>
        <li>
			<a href="/question">Questions</a>
		</li>
		<li style=float:right>
			<a class="active" href="/logout">Logout</a>
		</li>
		</li>
	</ul>
</nav>
<main>
  <p>User: <%= user %></p>
  <h1>Questions in Surveys</h1>
  <table>
        <tr>
        <th>Question ID</th>
        <th>Survey ID</th>
        <th>Prompt</th>
        <th>Question Type</th>
        </tr>
        <% dbquestions.forEach(function (question) {%>
        <tr>
        <td><%= question.question_id %></td>
        <td><%= question.survey_id %></td>
        <td><%= question.prompt %></td>
        <td><%= question.question_type %></td>
        </tr>
        <%})%>
    </table>
</main>
