<nav class="topnav">
	<ul>
		<li>
			<a href="/generate">Create Survey</a>
		</li>
		<li>
			<a href="/survey">Surveys</a>
		</li>
		<li>
			<a href="/response">Responses</a>
		</li>
    <li>
      <a href="/question">Questions</a>
    </li>
		<li style=float:right>
			<a class="active" href="/logout">Logout</a>
		</li>
		</li>
	</ul>
</nav>
<main>
  <p>User: <%= user %></p>
  <h1>Responses to Surveys</h1>
  <table>
    <tr>
      <th>Response ID</th>
      <th>User ID</th>
      <th>Survey ID</th>
      <th>Question ID</th>
      <th>Answer</th>
    </tr>
    <% dbresponses.forEach(function (response) {%>
    <tr>
      <td><%= response.response_id %></td>
      <td><%= response.user_id %></td>
      <td><%= response.survey_id %></td>
      <td><%= response.question_id %></td>
      <td><%= response.answer %></td>
    </tr>
    <%})%>
  </table>
</main>
