<nav class="topnav">
	<ul>
		<li>
			<a href="/generate">Create Survey</a>
		</li>
		<li>
			<a href="/survey">Surveys</a>
		</li>
		<li>
			<a href="/response">Responses</a>
		</li>
        <li>
			<a href="/question">Questions</a>
		</li>
		<li style=float:right>
			<a class="active" href="/logout">Logout</a>
		</li>
		</li>
	</ul>
</nav>
<main>
	<p>Welcome <%= user %>!</p>
  	<h1>Surveys</h1>
  	<h2 class="title">Insert a New Survey</h2>
	<form id="myform" action="/survey" method="POST">
		<p>
		<label>Survey Title
			<input name="survey_title" id="survey_title" type="text" required placeholder="Untitled Survey">
		</label>
		</p>
		<p>
		<label>Author ID
			<input name="author_id" id="author_id" type="number" required min="1" placeholder="1">
		</label>
		</p>
		<p>
		<label>Date Created
			<input name="date" id="date" type="date">
		</label>
		</p>
		<p>
		<label>What is the purpose of your survey?
			<input name="purpose" id="purpose" type="text">
		</label>
		</p>
		<p>
		<label>Question 1 Text:
			<input name="prompt1" id="prompt1" type="text">
		</label>
		<label for="type1">Question 1 Type:</label>
		<select id="type1" name="type1">
			<option value="">Choose Type</option>
			<option value="TF">True/False</option>
			<option value="L4">Likert 4</option>
			<option value="L5">Likert 5</option>
		</select>
		</p>
		<p>
		<label>Question 2 Text:
			<input name="prompt2" id="prompt2" type="text">
		</label>
		<label for="type2">Question 2 Type:</label>
		<select id="type2" name="type2">
			<option value="">Choose Type</option>
			<option value="TF">True/False</option>
			<option value="L4">Likert 4</option>
			<option value="L5">Likert 5</option>
		</select>
		</p>
		<Button type="submit" class="button">Create Survey</Button>
	</form>
  <table>
    <tr>
      <th>Survey ID</th>
      <th>Title</th>
      <th>Purpose</th>
      <th>Author ID</th>
      <th>Date Created</th>
      <th>Send to User 1</th>
	  <th>Send to User 2</th>
    </tr>
    <% dbsurveys.forEach(function (survey) {%>
		<tr>
			<td><%= survey.survey_id %></td>
			<td><%= survey.title %></td>
			<td><%= survey.purpose %></td>
			<td><%= survey.author %></td>
			<td><%= survey.begindate %></td>
			<td>
				<a href="/survey/<%= survey.survey_id %>/u/1"><button class="smallButton" type="button">Send</button></a>
			</td>
			<td>
				<a href="/survey/<%= survey.survey_id %>/u/2"><button class="smallButton" type="button">Send</button></a>
			</td>
		</tr>
    <%})%>
  </table>
</main>
