<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/styles.css" />
    <title><%= siteName %> | <%= pageTitle %></title>
    <meta charset="utf-8" />
  </head>

  <body>
    <%- include(`../pages/${template}`) %>
    <script type="text" src="../../js/script.js"></script>
  </body>
</html>
